@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #eae9ec;
  --color-secondary: #085056;
  --color-tertiary: #38383b;
  --color-quaternary: #ff5d04;

  --spacing-header: 90px;
}

@layer base {
  * {
    box-sizing: border-box;
    font-family: "JetBrains Mono";
    margin: 0;
  }
  body {
    background-color: var(--color-tertiary);
  }
}
